* {
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Gelasio";
  src: url("/static/font/Gelasio-Bold.woff2"),
    url("/static/font/Gelasio-Bold.woff");
  font-weight: 700;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
@font-face {
  font-family: "Gelasio";
  src: url("/static/font/Gelasio-Medium.woff2"),
    url("/static/font/Gelasio-Medium.woff");
  font-weight: 500;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/static/font/Roboto-Medium.woff2"),
    url("/static/font/Roboto-Medium.woff");
  font-weight: 500;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/static/font/Roboto-Regular.woff2"),
    url("/static/font/Roboto-Regular.woff");
  font-weight: 400;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
@font-face {
  font-family: "ribeye";
  src: url("/static/font/Ribeye-Regular.woff2"),
    url("/static/font/Ribeye-Regular.woff");
  font-weight: 400;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
:root {
  /*Глобальная переменная (работает для всего сайта)*/
  --font-family-Gelasio:"Gelasio",sans-serif; /*--font-family -название переменной ("Poppins",sans-serif; -какой будет шрифт после,если не сработает) */
  --font-family-roboto: "roboto", sans-serif;
  --font-family-ribeye: "ribeye", sans-serif;
  --color-white:#fff;
  --color-black:#000;
  --color-gray: #808080;
}

/* .test1 {
    font-family:var(--font-family-Gelasio);
    font-weight: 700;  
   } */
body {
  background-color: #e5e5e5;
  max-width: 1600px;
  margin: 0 auto;
}
.content {
  background-image: url("../images/Rectangle.png");
  max-width: 1600px;
  min-height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.content-title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0;
}
.content-logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0%;
  max-width: 124px;
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-family-ribeye);
  font-weight: 400;
  font-size: 24px;
}
.nav-menu {
  display:flex;
  max-width: 520px;
  flex-wrap: wrap;
}
.menu-text {
  display: flex;
  padding-left: 50px;
}
.text-link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 18px;
}
.button-item {
  max-width: 165px;
  padding: 14px 35px 13px 36px;
  background-color: #C9453B;
  border-radius: 5px;
}
.item-link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 16px;
}
.caption {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 200px;
  margin-left: 8%;
}
.caption-text {}
.text-title {
  max-width: 804px;
  margin: 0;
  margin-bottom: 30px;
  color: var(--color-white);
  font-family: var(--font-family-Gelasio);
  font-weight: 700;
  font-size: 65px;
}
.text-desc {
  max-width: 458px;
  margin: 0;
  margin-bottom: 50px;
  color: var(--color-gray);
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 18px;
}
.btn-link {
  padding:18px 46px 17px 47px;
  background-color: #C9453B;
  border-radius: 5px;
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 16px;
}
.aside-container {
  background-color: var(--color-white);
  max-width: 1600px;
  margin: 0 auto;
}
.wrapper-caption {
  font-size: 43px;
  font-family: var(--font-family-Gelasio);
  font-weight: 500;
  padding-top: 140px;
  padding-bottom: 20px;
}
.wrapper-text {
  max-width: 735px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-family: var(--font-family-roboto);
  font-weight: 400;
  color: var(--color-gray);
  padding-bottom: 50px;
}
.content-inner {
  background-color: var(--color-white);
  max-width: 1140px;
  min-height: 688px;
  margin: 0 auto;
}
.content-wrapper {
  text-align: center;
}
.content-column {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
}
.column-wrap{
  padding: 0 auto;
  max-width: 360px;
  min-height: 500px;
}

.wrap-title {
 text-align: center;
 margin-top: 35px;
 margin-bottom: 10px;
 font-size: 24px;
 font-family: var(--font-family-Gelasio);
 font-weight: 500;
}
.wrap-text {
 text-align: center;
 font-size: 18px;
 font-family: var(--font-family-roboto);
 font-weight: 400;
 color: var(--color-gray);
}
.rate-container {
  background-color: var(--color-white);
  max-width: 1600px;
  margin: 0 auto;
}
.content-caption {
  padding: 0;
  text-align: center;
  padding-bottom: 20px;
  font-size: 43px;
  font-family: var(--font-family-Gelasio);
  font-weight: 500;
}
.content-txt {
  max-width: 656px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-family: var(--font-family-roboto);
  font-weight: 400;
  color: var(--color-gray);
}
/*КАРУСЕЛЬ*/
/* User styles */
@media screen and (min-width: 911px) {
  .ant-carousel {
    max-width: 1600px;
  }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
  .ant-carousel {
    max-width: 540px;
  }
}

@media screen and (max-width: 640px) {
  .ant-carousel {
    max-width: 270px;
  }
}

.ant-carousel {
  margin: 60px auto auto;
  padding-top: 10px;
  background-color: white;
}

.ant-carousel-element {
  width: 334px;
}

/* General styles */
.ant-carousel {
  width: auto;
  position: relative;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.ant-carousel-element {
  display: block;
  flex: 0 0 auto;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 32;
}

div.ant-carousel-arrow-left {
  left: -40px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png")
    no-repeat;
}

div.ant-carousel-arrow-right {
  right: -40px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png")
    no-repeat;
}

div.ant-carousel-arrow-left:hover {
  opacity: 1;
}

div.ant-carousel-arrow-right:hover {
  opacity: 1;
}

div.ant-carousel-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: -30px;
  z-index: 30;
  text-align: center;
}

span.ant-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #bbb;
  border-radius: 5px;
  cursor: pointer;
}
