* {
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Gelasio";
  src: url("/static/font/Gelasio-Bold.woff2"),
    url("/static/font/Gelasio-Bold.woff");
  font-weight: 700;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
@font-face {
  font-family: "Gelasio";
  src: url("/static/font/Gelasio-Medium.woff2"),
    url("/static/font/Gelasio-Medium.woff");
  font-weight: 500;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/static/font/Roboto-Medium.woff2"),
    url("/static/font/Roboto-Medium.woff");
  font-weight: 500;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/static/font/Roboto-Regular.woff2"),
    url("/static/font/Roboto-Regular.woff");
  font-weight: 400;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
@font-face {
  font-family: "ribeye";
  src: url("/static/font/Ribeye-Regular.woff2"),
    url("/static/font/Ribeye-Regular.woff");
  font-weight: 400;
  font-display: swap; /*рендер шрифтов,более быстро и корректно происходил*/
  font-style: normal;
}
:root {
  /*Глобальная переменная (работает для всего сайта)*/
  --font-family-Gelasio:"Gelasio",sans-serif; /*--font-family -название переменной ("Poppins",sans-serif; -какой будет шрифт после,если не сработает) */
  --font-family-roboto: "roboto", sans-serif;
  --font-family-ribeye: "ribeye", sans-serif;
  --color-white:#fff;
  --color-black:#000;
  --color-gray: #808080;
}

/* .test1 {
    font-family:var(--font-family-Gelasio);
    font-weight: 700;  
   } */
body {
  background-color: #e5e5e5;
  max-width: 1600px;
  margin: 0 auto;
}
.content {
  background-image: url("../images/Rectangle.png");
  max-width: 1600px;
  min-height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.content-title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0;
}
.content-logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0%;
  max-width: 124px;
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-family-ribeye);
  font-weight: 400;
  font-size: 24px;
}
.nav-menu {
  display:flex;
  max-width: 520px;
  flex-wrap: wrap;
}
.menu-text {
  display: flex;
  padding-left: 50px;
}
.text-link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-family-roboto);
  font-weight: 500;
  font-size: 18px;
}
.button-item {
  max-width: 163px;
  padding: 14px 35px 13px 36px;
  background-color: #C9453B;
  border-radius: 5px;
}
.item-link {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 16px;
}
.caption {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 200px;
  margin-left: 8%;
}
.caption-text {}
.text-title {
  max-width: 804px;
  margin: 0;
  margin-bottom: 30px;
  color: var(--color-white);
  font-family: var(--font-family-Gelasio);
  font-weight: 700;
  font-size: 65px;
}
.text-desc {
  max-width: 458px;
  margin: 0;
  margin-bottom: 50px;
  color: var(--color-gray);
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 18px;
}
.btn-link {
  padding:18px 46px 17px 47px;
  background-color: #C9453B;
  border-radius: 5px;
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 16px;
}
.aside-container {
  background-color: var(--color-white);
  max-width: 1600px;
  margin: 0 auto;
}
.content-inner {
  background-color: var(--color-white);
  max-width: 1160px;
  min-height: 688px;
  margin: 0 auto;
}
.content-wrapper {
  text-align: center;
}
.content-column {
  display: flex;
  gap: 30px;
  
}
